
# Meme tier osx files
.DS_Store

# Generated stuff
Makefile
*.cmake
*.filters
*.ipch
*.pch
.vs/*
*/x64/*
CMakeCache.txt
*.vc.db

**/CMakeFiles/**
*/CMakeFiles/*

# executable
Dolphin_Matchmaking

# libs (gets rid of cmake stuff in libs)
thirdparty/*